# Collections (LSTD) - Some more Codes

In [2]:
fruits = ['apple', 'orange', 'banana', 'mango']

In [3]:
fruits[0]

'apple'

In [4]:
fruits[1:3]

['orange', 'banana']

In [5]:
fruits[:]

['apple', 'orange', 'banana', 'mango']

In [6]:
fruits[-1]

'mango'

In [7]:
fruits[-3]

'orange'

In [8]:
len(fruits)

4

In [9]:
seasonal_fruits = ['papaya', 'cherry', 'watermelon']

In [10]:
all_fruits = fruits + seasonal_fruits

In [11]:
all_fruits[:]

['apple', 'orange', 'banana', 'mango', 'papaya', 'cherry', 'watermelon']

In [12]:
all_fruits

['apple', 'orange', 'banana', 'mango', 'papaya', 'cherry', 'watermelon']

In [13]:
'banana' in all_fruits

True

In [14]:
'grapes' in all_fruits

False

In [15]:
all_fruits.index('banana')

2

In [16]:
all_fruits.index('grapes')

ValueError: 'grapes' is not in list

In [17]:
all_fruits.append('grapes')

In [18]:
all_fruits['grapes']

TypeError: list indices must be integers or slices, not str

In [19]:
all_fruits('grapes')

TypeError: 'list' object is not callable

In [20]:
all_fruits.index('grapes')

7

In [21]:
all_fruits

['apple',
 'orange',
 'banana',
 'mango',
 'papaya',
 'cherry',
 'watermelon',
 'grapes']

In [22]:
a = [1,1,2,3,4,5,6,7]

In [23]:
min(a)

1

In [24]:
max(a)

7

In [25]:
a.count(1)

2

In [26]:
a.insert(3,3)

In [27]:
a

[1, 1, 2, 3, 3, 4, 5, 6, 7]

In [28]:
a.insert(3,4)

In [29]:
a

[1, 1, 2, 4, 3, 3, 4, 5, 6, 7]

In [30]:
a.insert(9,4)

In [31]:
a

[1, 1, 2, 4, 3, 3, 4, 5, 6, 4, 7]

In [34]:
a.reverse()

In [35]:
a

[1, 1, 2, 4, 3, 3, 4, 5, 6, 4, 7]

In [36]:
a.reverse ()

In [37]:
a

[7, 4, 6, 5, 4, 3, 3, 4, 2, 1, 1]

In [39]:
a.sort ()

In [40]:
a

[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]

In [41]:
all_fruits.sort ()

In [42]:
all_fruits

['apple',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'watermelon']

In [43]:
all_fruits.reverse ()

In [44]:
all_fruits

['watermelon',
 'papaya',
 'orange',
 'mango',
 'grapes',
 'cherry',
 'banana',
 'apple']

# Tuple

## Tuple - Same as list but Immutable (Not Changable)

In [46]:
tup1 = (1,3,'orange')

In [47]:
tup1

(1, 3, 'orange')

In [48]:
tupa = tuple(a)

In [49]:
tupa

(1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7)

In [50]:
tupa.reverse ()

AttributeError: 'tuple' object has no attribute 'reverse'

In [51]:
tupa.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [53]:
b = set([6,1,1,2,4,5])

In [54]:
b

{1, 2, 4, 5, 6}

In [55]:
b.add(3)

In [56]:
b

{1, 2, 3, 4, 5, 6}

In [59]:
c = set([2,4,6,7])

In [60]:
c

{2, 4, 6, 7}

In [63]:
c.union (b)

{1, 2, 3, 4, 5, 6, 7}

In [64]:
b.intersection (c)

{2, 4, 6}

In [65]:
c.difference (b)

{7}

In [66]:
b.difference (c)

{1, 3, 5}

In [74]:
b.remove (1)

KeyError: 1

In [68]:
b

{1, 2, 3, 4, 5, 6}

In [70]:
b.clear()

In [71]:
b

set()

In [75]:
a

[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]

In [77]:
for i in a:
    print (i*2)

2
2
4
6
6
8
8
8
10
12
14

In [78]:
b

set()

In [79]:
b = (2,4,5,6)

In [80]:
b

(2, 4, 5, 6)

In [82]:
for i in b:
    print(i)

2
4
5
6

In [83]:
for i in b:
    print(i*a)

[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]
[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]
[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]
[1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7, 1, 1, 2, 3, 3, 4, 4, 4, 5, 6, 7]

In [89]:
d1 = dict ({'one':1, 'two':2})

In [90]:
d1

{'one': 1, 'two': 2}

In [92]:
names = ['one', 'two', 'three', 'four', 'five']
numbers = {1,2,3,4,5}

In [93]:
d2 = dict(zip(names, numbers))

In [94]:
print(d2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [95]:
d2.keys()

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [96]:
d2.values()

dict_values([1, 2, 3, 4, 5])

In [97]:
d2['six'] = 6

In [98]:
d2

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [99]:
d2.pop('six') - #remove an element ='pop'

6

In [100]:
d2

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}